# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DemoDynamicFeatureFlagWebApp.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\repo\DemoDynamicFeatureFlagWebApp\.idea\.idea.DemoDynamicFeatureFlagWebApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
